<!--
{{ valor }}
<button [disabled]="desativado" (click)="adicionar()">Adicionar</button>
<br />
<button (click)="destruirComponent()">Destruir componente</button>

<app-title *ngIf="destruir"></app-title>
<app-data-biding *ngIf="condicao"></app-data-biding>
<br />
<button (click)="condicaoFuncao()" style="color: green">Data Binding</button>
<hr />
<app-diretivas-estruturais></app-diretivas-estruturais>

<app-diretivas-atributos>
  <h1>Aulas de Diretivas Atributo</h1>
  <hr />
</app-diretivas-atributos>
<app-diretivas-atributos>
  <h1>Final da Aula</h1>
  <h3>Alexson</h3>
  <h3>Felipe</h3>
</app-diretivas-atributos>

<app-diretivas-atributos></app-diretivas-atributos>
<app-new-component></app-new-component>
<app-input [contador]="addValue"></app-input>
<br />
<button (click)="add()">Add</button>
<br />
<ng-template [ngIf]="getDados">
  <h1>{{ getDados.nome }}</h1>
  <h2>{{ getDados.idade }}</h2>
</ng-template>
<app-output (enviarDados)="setDados($event)"></app-output>
-->
<app-food-add> </app-food-add>
<app-food-list></app-food-list>
<app-forms></app-forms>
